<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		    {{translate 'saveSearch'}}
		</div>
		<div class="modal-body form-horizontal">
			<p>{{ translate "saveCopySearchSetting" }}</p>
		    {{!-- <div class="clearfix"> --}}
		    	<div class="col-sm-12">
		    		<div class="form-group">
						{{!-- <div class="input-group"> --}}
							<input class="form-control filter-name" type="text" placeholder="{{ translate "filterName" }}">
						{{!-- </div> --}}
						<span class="help-block">{{ translate "saveCopySearchSetting" }}</span>
					</div>
		    	{{!-- </div> --}}
		    </div>
		</div>
		<div class="modal-footer">
			<div class="btn-group">
		    	<button class="btn btn-danger" data-dismiss="modal">{{translate "cancel" }}</button>
		    	<button class="btn btn-success save-filter" data-dismiss="modal" disabled="disabled">{{translate "save" }}</button>
			</div>
		</div>
	</div>
</div>