    <div class="accordion-heading"><a href="#accPeople" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle">
        <span class="item-icon" data-icon="&#xf016;" aria-hidden="true"></span><i class="chevron"></i>
        {{translate "people"}}
    </a>
    </div>
    <ul class="accordion-content nav nav-list collapse" id="accPeople">
        <li><a href="{{uiRoot}}/#people/candidates">{{translate "candidate"}} </a></li>
        <!--<li><a href="{{uiRoot}}/#candidate/search">{{translate "candidateSearch"}}</a></li>-->
        <li><a href="{{uiRoot}}/#people/clients">{{translate "clients"}}</a></li>
    </ul>