<div class="media-thumb media-left thumb-bordereb user-profile-trigger">
    <a class="img-shadow" href="javascript:void(0);">
        <img class="thumb user-profile-trigger" src="{{sessionProfilePicture}}"></a>
</div>
<div class="media-body">
    <h5 class="media-heading user-profile-trigger">{{sessionFullName}} <small>as {{sessionMainRole}}</small></h5>
    <p class="data" id="lastAccess"><a href="{{uiRoot}}/#/logout">{{translate "logout" }}</a></p>
</div>
