<div class="o-card is-centered mw-640">
    <div class="o-card-header mb-16">
        <h3 class="o-card-title">{{translate "settings"}}</h3>
    </div>
    
    <table class="o-table">
        <tbody>
            <tr>
                <td>{{translate "showOnlyMyNotes"}}</td>
                <td class="align-right">
                    <input type="checkbox" class="only-my-notes"/>
                </td>
            </tr>
            <tr>
                <td>{{translate "showOnlyMyTasks"}}</td>
                <td class="align-right">
                    <input type="checkbox" class="only-my-tasks"/>
                </td>
            </tr>
            <tr>
                <td>{{translate "showOnlyMyJobs"}}</td>
                <td class="align-right">
                    <input type="checkbox" class="only-my-jobs"/>
                </td>
            </tr>
            <tr>
                <td>{{translate "userTimeZone"}}</td>
                <td class="align-right">
                    <select class="user-time-zone form-control"></select>
                </td>
            </tr>
            <tr>
                <td>{{translate "broadbeanUsername"}}</td>
                <td class="align-right">
                    <input type="type" class="broadbean-username form-control" placeholder="{{translate "broadbeanUsername"}}"/>
                </td>
            </tr>
            <tr>
                <td>{{translate "resetConfigurationToDefault"}}</td>
                <td class="align-right">
                    <select class="reset-user-preference form-control"></select>
                </td>
            </tr> 
        </tbody>
    </table>
</div>