<div class="section-content">
    <form class="o-card is-centered mw-640">
        <fieldset>
            <ul class="list-unstyled form-list form-horizontal list-bordered dotted">
                <li class="form-group">
                    <label class="control-label col-sm-3">{{translate "firstName"}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control firstName col-md-5" placeholder="{{translate "firstName"}}" data-error-style="inline">
                        <span class="help-block"></span>
                    </div>
                </li>

                <li class="form-group">
                    <label class="control-label col-sm-3">{{translate "lastName"}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control lastName col-md-5" placeholder="{{translate "lastName"}}" data-error-style="inline">
                        <span class="help-block"></span>
                    </div>
                </li>

                <li class="form-group">
                    <label class="control-label col-sm-3">&nbsp;</label>
                    <div class="col-sm-9 btn-group">
                        <button class="button-cancel btn-sm btn btn-danger">{{translate "cancel"}}</button>
                        <button class="button-save   btn-sm btn btn-success">{{translate "save"}}</button>
                    </div>
                </li>
            </ul>
        </fieldset>
    </form>
</div>