<div class="section-content">
    <form class="o-card is-centered mw-640">
        <fieldset>
            <ul class="list-unstyled form-list form-horizontal list-bordered dotted">
                <li class="form-group">
                    <label class="control-label col-sm-3">{{translate "currentPassword"}}<span class="requiredInput">*</span></label>
                    <div class="col-sm-9">
                        <input type="password" name="currentPassword" class="form-control currentPassword col-md-5" placeholder="{{translate "currentPassword"}}">
                        <span class="help-block"></span>
                    </div>
                </li>

                <li class="form-group">
                    <label class="control-label col-sm-3">{{translate "newPassword"}}<span class="requiredInput">*</span></label>
                    <div class="col-sm-9">
                        <input type="password" name="newPassword" class="form-control newPassword col-md-5" placeholder="{{translate "newPassword"}}">
                        <span class="help-block"></span>
                    </div>
                </li>
               
                <li class="form-group">
                    <label class="control-label col-sm-3">{{translate 'reenterNewPassword'}}<span class="requiredInput">*</span></label>
                    <div class="col-sm-9">
                        <input type="password" name="confirmNewPassword" class="form-control confirmNewPassword col-md-5" placeholder="Re-enter New Password">
                        <span class="help-block"></span>
                    </div>
                </li>

                <li class="form-group">
                    <div class="col-sm-4 col-sm-offset-3 form-inline">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="showPassword"> {{translate 'showPassword'}}
                            </label>
                        </div>
                    </div>
                
                    <div class="col-sm-5">
                        <div class="btn-group pull-right">
                            <input type="button" class="button-update-password btn btn-sm btn-success" value="{{translate 'updatePassword'}}"/>
                        </div>
                    </div>
                </li>
            </ul>
        </fieldset>
    </form>

</div>
