<table class="table table-hover">
    <thead>
    <tr>
        <th>{{translate "name"}}</th>
        <th><span class="line"></span>{{translate "jobTitle"}}</th>
        <th><span class="line"></span>{{translate "telephone"}}</th>
        <th><span class="line"></span>{{translate "email"}}</th>
        <th><span class="line"></span>{{translate "company"}}</th>
        <th><span class="line"></span>&nbsp;</th>
        <th><span class="line"></span>&nbsp;</th>
    </tr>
    </thead>
    <tbody id="clientList">
    </tbody>
</table>

