<div class="col-sm-12 form">
    <fieldset>
        <ul class="list-unstyled form-list">

            <li class="form-group">
                <div class="controls-group">
                    <label class="control-label col-sm-3">{{translate "addTag"}}</label>
                    <select id="tagSelect" class="form-control tagSelect" data-live-search="true" data-size="10"></select>
                    <p class="help-block"></p>
                </div>
            </li>
            <li class="form-group">
                <span class="info">{{translate "tagsAreSavedAutomatically"}}</span>
                <hr />
            </li>
        </ul>
    </fieldset>
</div>

<div class="col-sm-12 form">
    <fieldset>
        <ul class="list-unstyled form-list">
            <li class="form-group">
                <label class="control-label col-sm-6">{{translate "originalDocumentName" }}</label>
                <div class="controls">
                    <input type="text" class="form-control fileName" placeholder="{{translate "originalDocumentName"}}"
                           name="name" readonly>
                    <span class="help-block"></span>
                </div>
            </li>
            <li class="form-group">
                <label class="control-label col-sm-6">{{translate "displayName" }}</label>
                <div class="controls">
                    <input type="text" class="form-control displayName" placeholder="{{translate "displayName"}}"
                           name="displayName">
                    <span class="help-block"></span>
                </div>
            </li>
            <li class="form-group">
                <label class="control-label col-sm-6">{{translate "description"}}</label>
                <div class="controls">
                    <input type="text" class="form-control description" placeholder="{{translate "description"}}"
                           name="description">
                    <span class="help-block"></span>
                </div>
            </li>
        </ul>
    </fieldset>
</div>
